//  Import Files
@import './global-rules.scss';
@import './variables.scss';
@import './mixin.scss';

    .header{
        background-image: url(../images/bg-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height:500px;
        .overlay{
            background-color:rgba(5, 117, 230, 0.9);
            color: #fff;
            padding:40px 60px;
            transform: translateY(20%);
            .personal{
                img{
                    border:5px solid #73ade7;
                    border-radius: 50%;
                }
            }
            h1{
                font-size:36px;
                line-height: 50px;
                margin-bottom: 20px;
                color:#f9f9f9;
                span{
                    font-size:25px;
                }
            }
            ul{
                margin-bottom: 40px;
                li{
                    a{
                        text-decoration: none !important;
                        font-size: 25px;
                        color:#021b79;
                    }
                }
            }
            h2{
                font-size: 15px;
                line-height:30px;
                font-weight: bold;
                margin-bottom: 15px;
            }
            p{
                font-size: 15px;
                line-height: 30px;
                color:#89ccff;
            }
            a{
                font-size:20px;
                line-height: 32px;
                color:#fff;
                margin-bottom: 40px;
            }
        }
        
    }


nav{
    .navbar-nav{
        li{
            a.nav-link{
                color:#fff;
                font-size: 16px;
                line-height: 60px;
                padding-right: 24px;
                padding-left: 24px;
                transition: all .5s ease;
                &:hover,
                .active{
                    color:$main-color;
                    background-color: #fff;
                }
                
            }
            .active{
                color:$main-color !important;
                background-color: #fff;
            }
        }
    }
}

nav.noTransparent{
    background-color: #fff;
    border-bottom:1px solid #eee;
.navbar-nav{
        li{
            a.nav-link{
                color:$main-color;
                &:hover,
                .active{
                    color:#fff;
                    background-color: $main-color;
                }
            }
            .active{
                color:#fff !important;
                background-color:$main-color;
            }
        }
    }
}

// Main

    .licence{
        padding:200px 0 80px;
        background-color: #f6f6f6;
        .licence-title{
            padding-bottom: 30px;
            position:relative;
            h2{
                font-size: 30px;
                line-height: 50px;
                color:$alt-color;
                text-align: center;
                i{
                    display: block;
                }
                &::after{
                    content: "";
                    position: absolute;
                    width:100px;
                    height: 2px;
                    background-color: $alt-color;
                    bottom:0;
                    right:50%;
                    transform: translateX(50%);
                }
            }
        }
       .timeline{
            position: relative;
            padding-right:40px;
            padding-top: 45px;
                &::before{
                    content: "";
                    position: absolute;
                    width:2px;
                    height:75%;
                    top:0;
                    right:50%;
                    background-color: $alt-color;
                    transform: translateX(50%);
                }
            .timebox{
                position: relative;
                margin-bottom: -50px;
                
                background-color: #fff;
                @include borders;
                padding:20px 25px;
                width:48%;
                h4{
                    font-size: 20px;
                    line-height: 30px;
                    color:#555;
                    span{
                        color: #fff;
                        background-color:$main-color;
                        padding:0 5px;
                        margin-right: 35px;
                    }
                }
                p{
                    font-size: 15px;
                    line-height: 22px;
                    color:#b1b1b1;
                }
                &::after{
                    position: absolute;
                    content: "";
                    width:20px;
                    height: 20px;
                    background-color: #fff;
                    border-left:2px solid #f4f4f4;
                    @include borders;
                    top:5%;
                    right:-10px;
                    transform: rotate(45deg);
                }
            }
            li{
                position: relative;
                margin-bottom:-50px;
                &::before{
                    content: "";
                    position: absolute;
                    width:10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color:$main-color;
                    top:10%;
                    right:50%;
                    transform: translateX(90%);
                }
                &:nth-child(even){
                    direction: rtl;
                    text-align: left;
                    .timebox{
                        padding-right:20px;
                        margin-right:-13px;
                        h4{
                            span{
                                float: right;
                                margin-left:15px;
                            }
                        }
                        &::after{
                            border:0px;
                            right:auto;
                            left:-10px;
                            border-right:2px solid #f4f4f4;
                            border-top:2px solid #f4f4f4;
                        }
                    }

                    
                }
            }
        }
    }


    // STATS
    .stats{
        background-image: url(../images/bg-2.jpg);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        .overlay{
            background-color: rgba(5, 115, 230,  .7);
            padding:150px 0;
        }
        .stat{
            font-size: 25px;
            line-height: 30px;
            color:#fff;
            margin-top: 30px;
            font-family: sans-serif;
            .circle{
                position: relative;
                canvas{
                    background-color: #efe6ff;
                    border-radius: 50%;
                    padding:10px;
                }
                span{
                    position:absolute;
                    color: $main-color;
                    font-size: 25px;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%);
                }
            }
        }
    }

    section.gallery{
        padding:75px 0 90px;
        .gallery-title{
            margin-bottom:35px;
            h2{
                font-size:30px;
                line-height: 50px;
                color:$main-color;
            }
        }
        .gallery-work{
            label{
                font-size: 20px;
                line-height: 35px;
                color:#8f9899;
                padding:10px 30px;
                background-color: #fff;
                border:2px solid #e4eeee;
                border-radius: 3px;
                cursor: pointer;
                margin: 0 7px 40px;
                transition: all .5s ease;
                &:hover{
                    color:#fff;
                    background-color:$main-color;
                    border:2px solid $main-color;
                }
            }
            .items{
                .item{
                    margin-bottom:25px;
                    transform: all .5s ease;
                    img{
                        width:100%;
                    }
                }
            }
            .item-type-1{

                &:checked~.label-type-1{
                        color:#fff;
                        background-color: $main-color;
                        border:2px solid $main-color;
                    }
                    &:checked~.items{
                        .item:not(.item-type-1){
                            transform: scale(0.8);
                            opacity: 0.5;
                        }
                        .item-type-1{
                            transform: scale(1.08 );
                            opacity: 1;
                        }
                    }

            }
            .item-type-2{
                &:checked~.items{
                    .item:not(.item-type-2){
                        transform: scale(0.8);
                        opacity: 0.5;
                    }
                    .item-type-2{
                        transform: scale(1.08 );
                        opacity: 1;
                    }
                }
                &:checked~.label-type-2{
                        color:#fff;
                        background-color: $main-color;
                        border:2px solid $main-color;
                    }
            }
            .item-type-3{
                &:checked~.items{
                    .item:not(.item-type-3){
                        transform: scale(0.8);
                        opacity: 0.5;
                    }
                    .item-type-3{
                        transform: scale(1.08 );
                        opacity: 1;
                    }
                }
                &:checked~.label-type-3{
                        color:#fff;
                        background-color: $main-color;
                        border:2px solid $main-color;
                    }
            }
            .item-type-all{
                &:checked~.label-type-all{
                        color:#fff;
                        background-color: $main-color;
                        border:2px solid $main-color;
                    }
            }
        }
    }

    .contact{
        background-image: url(../images/bg-3.jpg);
        background-position: center;
        background-size: cover;
        .overlay{
            background-color: rgba(0, 0, 0, 0.6);
            padding-top: 70px;
            .testimonials-titel h3{
                font-size: 30px;
                line-height: 50px;
                color:#fff;
                margin-bottom: 40px;
            }
            .testimonials{
                .slide{
                    width: 65%;
                    margin: 0 auto 80px;
                    .carousel-item{
                        min-height:350px;
                        .carousel-caption{
                            background-color: #fff;
                            width:100%;
                            padding:80px 70px 35px;
                            left: 0;
                            img{
                                position: absolute;
                                top:0;
                                transform: translate(-50%, -50%);
                            }
                            h4{
                                font-size: 20px;
                                color:#555;
                                margin-bottom: 15px;
                                span{
                                    font-size: 15px;
                                    color:#9c9c9c;
                                }
                            }
                            p{
                                font-size: 16px;
                                line-height: 22px;
                                color:#b1b1b1;
                                margin-bottom: 25px;
                            }
                            li{
                                a{
                                    font-size: 25px;
                                    color:#b2d8fe;
                                    transition: all .5s ease;
                                    &:hover{
                                        color:$main-color;
                                    }
                                }
                            }
                        }
                    }
                }
                .carousel{
                    .carousel-indicators{
                        bottom: -5px;
                        button{
                            width:15px;
                            height: 15px;
                            border:1px solid #fff;
                            background-color: $alt-color;
                            .active{
                                background-color: $main-color;
                            }
                        }
                    }
                    .carousel-control-next{
                        transform: translateX(50%);
                        i{
                            padding:10px 20px;
                            background-color:$main-color;
                            border-radius: 50%;
                        }
                    }
                    .carousel-control-prev{
                        transform: translateX(-50%);
                        i{
                            padding:10px 20px;
                            background-color:$main-color;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
    .contact{
        .overlay{
            .contact-info{
                background-color: #fff;
                padding:50px;
                .contact-title{
                    font-size: 30px;
                    line-height: 50px;
                    color:$main-color;
                }
                .contact-from{
                    input,
                    textarea{
                        border:2px solid #f1f1f1;
                        border-radius:2px;
                        color:#c2c2c2;
                        line-height: 35px;
                        padding-right: 34px;
                        text-align: left;
                        margin-bottom: 15px;
                        padding-left: 31px;
                    }
                    i{
                        position: absolute;
                        left:14px;
                    }
                    .col-sm-6{
                        position: relative;
                        &::before{
                           position:absolute;
                           top:0;
                           left:0;
                           font-size: 20px;
                           line-height: 25px;
                           color:$main-color;
                           font-weight:900;
                           font-family: remixicon!important
                        }
                    }
                    button{
                        font-size: 25px;
                        line-height:25px;
                        background-color: #fff;
                        border-radius:3px;
                        border:3px solid $main-color;
                        padding:15px 70px;
                        max-width:200px;
                        margin-right: 15px;
                        color:$main-color;
                        transition: all .5s ease;
                        &:hover{
                            color:#fff;
                            background-color: $main-color;

                        }
                    }
                }
                ul{
                    li{
                        font-family: sans-serif;
                        font-size: 16px;
                        line-height: 30px;
                        color:$main-color;
                    }
                }
                .social{
                    li{
                        margin-right: 10px;
                        a{
                            background-color:#9bc8f5;
                            color:#fff;
                            line-height: 50px;
                            width:50px;
                            height: 50px;
                            display: block;
                            text-align: center;
                            border-radius: 50%;
                            transition: all .5s ease;
                            &:hover{
                                background-color: $main-color;
                            }
                        }
                    }
                }
            }
            
        }
        .copyright {
            p{
                font-size: 20px;
                color: #ececec;
                line-height:77px;
                margin: 0;
            }
        }
    }

    label.error{
        color: red;
    }
    // section.gallery .gallery-work input.item-type-1:checked~label.label-type-1,
    // section.gallery .gallery-work input.item-type-2:checked~label.label-type-2,
    // section.gallery .gallery-work input.item-type-3:checked~label.label-type-3,
    // section.gallery .gallery-work input.item-type-all:checked~label.label-type-all{
    //     color:#fff;
    //     background-color: $main-color;
    //     border:2px solid $main-color;   
    // }
// Main

@media(max-width:992px){
    .licence{
      .timeline{
        &::before{
            height: 77%; 

        }
      }
    }

    .contact{
        .overlay{
            .testimonials{
                .slide{
                    width:90%;
                }
            }
        }
    }
}

@media(max-width:768px){
    .licence {
        .timeline{
            &::before{
                height: 90%;
            }
            li {
                margin-bottom: 25px;
                .timebox{
                    width:90%;
                    margin-bottom: auto;
                    &::after{
                        content: none;
                    }
                }
            }
        }
    }
    .contact {
        .overlay{
            .testimonials{
                .slide{
                    .carousel-item{
                        .carousel-caption{
                            padding:65px 35px 35px;
                        }
                    }
                }
            }
        }
    }
}